[access]
	inheritFrom = All-Projects
[submit]
	action = cherry pick
[access "refs/*"]
	owner = group user/M1H04n
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/M1H04n
	label-Verified = -1..+1 group user/M1H04n
	push = group user/M1H04n
	read = group user/M1H04n
	rebase = group user/M1H04n
	removeReviewer = group user/M1H04n
	submit = group user/M1H04n
[access "refs/heads/*"]
	create = group user/M1H04n
	push = +force group user/M1H04n
	pushMerge = group user/M1H04n
	read = group user/M1H04n
[access "refs/tags/*"]
	push = group user/M1H04n
	push = +force group user/M1H04n
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
